/* add leaflet and leaflet-draw css */
@import "leaflet/dist/leaflet";
@import "leaflet-draw/dist/leaflet.draw";
@import "leaflet.markercluster/dist/MarkerCluster.Default";
@import "leaflet-timedimension/dist/leaflet.timedimension.control";

html.h-100 {
  min-width: 454px;
}
/* Typography */
body {
  font-family: "Open Sans", sans-serif !important;
}

h2,
h3 {
  color: #1a7dc1 !important;
}

h2 {
  font-family: "Raleway" !important;
  line-height: 1.1;
  font-weight: bold;
  font-size: 25px;
}
.brand-title {
  margin-left: 0.5rem;
  margin-right: 1.4rem;
}

.brand-title h3 {
  margin-bottom: 0;
  letter-spacing: 0.7px;
  font-size: 31px;
}

.brand-title small {
  position: relative;
  top: -0.4rem;
}

.navbar.sticky-top {
  margin-bottom: 0.8rem !important;
}

.nav-link {
  text-transform: uppercase;
  &:not(.active) {
    color: #1a7dc1 !important;
  }
  &.active {
    color: #1e9a2f !important;
    border-bottom: solid 2px #1e9a2f;
  }
}
.no-results {
  background-color: #f8f8f8;
  border: 1px dashed #ccc;
  margin-bottom: 2rem;
  margin-left: 5.5%;
  float: none;
  width: 80%;
  padding: 1.6rem 1.5%;
}

.btn-link:hover,
.btn-link:focus,
a {
  text-decoration: none;
  outline: none;
  border: 0;
  color: #1a7dc1;
}

.btn:focus,
.btn:active,
.form-select:focus,
.form-control:focus,
.btn-reset:focus,
.btn-reset:active,
.btn-close:focus,
.btn-close:active,
input[type="file"]:focus {
  outline: none !important;
  box-shadow: none;
}

.modal:not([class*="bg-"]) .modal-header,
.card:not([class*="bg-"]) .card-header {
  color: #1a7dc1;
}

.modal .modal-header {
  padding: 1rem 1.35rem;
  background-color: rgba(33, 40, 50, 0.03);
  .modal-title {
    font-weight: 600;
  }
}

.hl-preview {
  border-radius: 0.35rem;
  border: 0.25rem solid #e0e5ec;
  .hl-preview-content {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #e0e5ec;
    position: relative;
  }
}

/*.custom-control {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}*/
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
/*.custom-control-input {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 1rem;
  height: 1.25rem;
  opacity: 0;
}*/

/* Custom ngx-datatable styles */
/* --------------------------- */
.ngx-datatable {
  .datatable-body {
    .datatable-row-detail {
      background: #d1d4d7;
      padding: 8px;
      margin: 2px 0px;
    }
    .datatable-scroll {
      width: 100% !important;
      display: block;
    }
  }
}
.table-responsive .table .datatable-body{
  height: 66vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.search-result-details {
  width:89% !important;
  margin-right: auto;
  h3 {
    font-size: 1.3rem !important; 
  }

  p {
    font-size: 12px !important;
    margin-bottom: 0 !important;
    text-align: justify;
  }
}
/* style my-requests sidebar */
.sidenav {
  .nav-pills {
    border-bottom: none;
    .nav-link {
      border: solid transparent;
      border-width: 1px 1px 1px 0;
      -webkit-border-radius: 0 16px 16px 0;
      border-radius: 0 16px 16px 0;
      font-weight: 600;
      color: #5f6368;
      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
      &.active {
        background-color: #e8f0fe;
        color: #1a7dc1;
      }
    }
  }
}

/* legend styles */
.legend_box {
  padding: 6px 12px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 14px;
  color: #555;
  max-width: 10rem;
  i {
    width: 16px;
    height: 13px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
}

.alert {
  border-radius: 0 !important;
}

/*img*/

.hld-preview-thumbnail {
  border-radius: 171px;
  border: none;
  height: 280px;
}

h3 {
  text-align: left !important;
}

.text {
  text-align: justify !important;
  display: inline-block !important;
}

.description-container {
  display: flex;
}

a.ng-star-inserted {
  text-align: left !important;
  text-transform: uppercase;
}

app-dataset .btn {
  background-color: #1a7dc1;
  border-color : #1a7dc1 !important;
}

/*buttons & checkbox/radio*/

.leaflet-control-zoom-out,
.leaflet-control-zoom-in {
  border-radius: 25px !important;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: #1a7dc1 !important;
}

/*.leaflet-touch .leaflet-bar a {
  margin-bottom: 2px;
  width: 34px !important;
  height: 33px !important;
  line-height: 29px;
}*/
.leaflet-control-zoom {
  border: none !important;
}

.invalid-feedback {
  display: block;
  margin-top: 0;
}

/*input[type="radio"]:checked,
input[type="checkbox"]:checked {
  color: #1a7dc1 !important;
  background-color: #1a7dc1 !important;
  fill: #1a7dc1;
  appearance: none;
  border: 7px solid #1a7dc1;
  border-radius: 7px;
}*/

/*custom dataset page*/
.dataset-image {
  object-fit: cover;
  width: 320px;
  height: auto;
}

.description-box + hr {
  width: 100% !important;
}

.contact{
  width: 30% !important;
}

.table-product tbody, .table-product tbody tr, .table > :not(caption) > * > *{
  border:none;
  border-style: none;
  border-bottom-width: 0px;
}

/*custom footer*/
.footer {
  padding-left: 1em;
  padding-right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
    
  
    img {
      max-width: 349px;
    }
  /*.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    .card-title {
      font-size: 80%;
      font-weight: 400;
    }
  }*/
}


@media screen and (max-width: 990px) {
    /*change direction costum dataset page*/
  

  .description-box + hr {
    display:none;
    
    & + div {
      flex-direction: column;
      width: 100% !important;

      & > div {
        width: 90% !important;

        & div + div{
          margin-bottom: 15px !important;
        }
      }
    } 
  }
    .table-product {
      th{
        width: 70% !important;
      }
      + hr {
      display:none !important;
      }
    }

    .attribution {
      max-width: 93%;
    }
  
}
@media screen and (max-width:650px){
  .description-box {
    flex-direction: column;
    display:flex;
      img {
        width: 80%;
        margin-right: auto !important;
        margin-left: auto !important;
      
      }
    hr {
        display: none !important;
      }
  }
}
@media screen and (max-width: 574px) {

  .search-result-details {
    width: 94% !important;
    margin-left:auto;
    h3 {
      font-size: 1rem !important; 
    }
  }
  
  .footer {
    padding-left: 0.6rem !important;
    padding-right: 0.6rem !important;

    .footer-container 
    {
      small {
        font-size: 0.6rem;
      }

      img {
        max-width: 50%;
      }
    }
  }
}
