<div class="container-fluid px-4">
  <div class="row g-0">
    <div class="col-12">
      <hr class="mt-1 mb-3" />
    </div>
    <div class="col-2 mb-2 filters">
      <hl-map-filter
        [class.collapsed]="isCollapsed"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        (onFilterChange)="applyFilter($event)"
      ></hl-map-filter>
      <label
        class="toggle"
        (click)="isCollapsed = !isCollapsed"
        [class.collapsed]="isCollapsed"
      ></label>
    </div>
    <div class="col px-3">
      <div id="map-wrapper" class="fill">
        <!--
        <ngx-spinner
          type="ball-scale-multiple"
          bdColor="rgba(255,255,255,0.8)"
          color="#6c757d"
          zIndex="1000"
          [fullScreen]="false"
          size="medium"
        >
        </ngx-spinner>
        -->
        <!--
        <div class="no-results" *ngIf="!loading">
          <h2>No Maps Available</h2>
          <p>Try to apply a different set of filters</p>
        </div>
        -->
        <div
          class="map"
          leaflet
          [leafletOptions]="options"
          [leafletLayersControl]="layersControl"
          [leafletLayersControlOptions]="layersControlOptions"
          (leafletMapReady)="onMapReady($event)"
          (leafletMapZoomEnd)="onMapZoomEnd($event)"
        >
          <!-- Period -->
          <div class="leaflet-bottom leaflet-right mb-4 me-1">
            <div class="leaflet-box">
              Period:
              <span class="fw-bold">1991-2020</span>
            </div>
          </div>
          <!--<div class="leaflet-top leaflet-right">
            <div class="leaflet-control-layers leaflet-control">
              <div class="leaflet-box">
                <ng-container *ngFor="let t of timeRanges">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="period"
                    [id]="t"
                    [value]="t"
                  />
                  <label class="form-check-label" [for]="t">
                    {{t}}
                  </label>
                </div>
                </ng-container>
              </div>
            </div>
          </div>-->
          <!-- R Models -->
          <!--<div class="leaflet-top leaflet-right">
            <div class="leaflet-control-layers leaflet-control">
              <div class="leaflet-box">
                <ng-container *ngFor="let m of models">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="period"
                    [id]="m"
                    [value]="m"
                  />
                  <label class="form-check-label" [for]="m">
                    Model {{m}}
                  </label>
                </div>
                  </ng-container>
              </div>
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <div class="col-auto details-card">
      <div
        #collapse="ngbCollapse"
        [ngbCollapse]="isPanelCollapsed"
        class="chart-container"
      >
        <div class="card bg-light" style="min-width: 300px">
          <div class="px-2">
            <button
              type="button"
              class="btn btn-sm float-end"
              (click)="closeDetails()"
              [attr.aria-expanded]="!isPanelCollapsed"
            >
              <b style="font-size: x-large">&times;</b>
            </button>
          </div>
          <div class="card-body">
            <hl-map-detail
              [cropDetails]="mapCropDetails"
              [modelId]="currentModel"
              [isPanelCollapsed]="isPanelCollapsed"
            >
            </hl-map-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
