<div class="container-fluid px-4">
  <div class="row g-0">
    <div class="col-12">
      <hr class="mt-1 mb-3" />
    </div>
    <div class="col-2 mb-2 filters">
      <forest-suitability-filter
        [class.collapsed]="isCollapsed"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        (onFilterChange)="applyFilter($event)"
      ></forest-suitability-filter>
      <label
        class="toggle"
        (click)="isCollapsed = !isCollapsed"
        [class.collapsed]="isCollapsed"
      ></label>
    </div>
    <div class="col px-3">
      <div id="map-wrapper" class="fill">
        <!--
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          color="#6c757d"
          zIndex="1000"
          [fullScreen]="false"
          size="medium"
        >
        </ngx-spinner>
        -->
        <!--
        <div class="no-results-plain" *ngIf="!loading">
          <h2>No Maps Available</h2>
          <p>Try to apply a different set of filters</p>
        </div>
        -->
        <div
          class="map"
          leaflet
          [leafletOptions]="options"
          (leafletMapReady)="onMapReady($event)"
          (leafletMapZoomEnd)="onMapZoomEnd($event)"
        ></div>
      </div>
    </div>
    <div class="col-auto details-card">
      <div
        #collapse="ngbCollapse"
        [ngbCollapse]="isPanelCollapsed"
        class="chart-container"
      >
        <div class="card bg-light" style="min-width: 300px">
          <div class="px-2">
            <button
              type="button"
              class="btn btn-sm float-end"
              (click)="closeDetails()"
              [attr.aria-expanded]="!isPanelCollapsed"
            >
              <b style="font-size: x-large">&times;</b>
            </button>
          </div>
          <div class="card-body">
            <forest-suitability-detail
              [cropDetails]="mapCropDetails"
              [isPanelCollapsed]="isPanelCollapsed"
            >
            </forest-suitability-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
