<div class="container-fluid px-4">
  <div class="row no-gutters">
    <div class="col-12">
      <hr class="mt-1 mb-3" />
    </div>
    <div class="col-2 mb-2">
      <crop-water-filter
        class="collapse"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        (onFilterChange)="applyFilter($event)"
      ></crop-water-filter>
    </div>
    <div class="col pl-3">
      <div id="map-wrapper" class="fill">
        <div
          class="map"
          leaflet
          [leafletOptions]="options"
          (leafletMapReady)="onMapReady($event)"
          (leafletMapZoomEnd)="onMapZoomEnd($event)"
          (leafletMapMove)="onMapMove($event)"
        >
          <!-- Period -->
          <div class="leaflet-top leaflet-right mb-4 mt-2 mr-1">
            <div class="leaflet-box leaflet-control" event-stop-propagation>
              <div class="form-group" *ngIf="filter.period">
                <label for="selectPeriod" class="mb-0 font-weight-bold"
                  >Period:</label
                >
                <select
                  [(ngModel)]="selectedPeriod"
                  id="selectPeriod"
                  class="form-control form-control-sm"
                  (ngModelChange)="onPeriodChange($event)"
                  [compareWith]="isSamePeriod"
                >
                  <option *ngFor="let run of availableRuns" [ngValue]="run">
                    {{ run.year }}-{{ run.month | number: "2.0" }}-{{
                      run.day | number: "2.0"
                    }}
                  </option>
                </select>
              </div>
              <span>{{ printLayerDescription() }}</span>
            </div>
          </div>

          <!-- Zoom Level -->
          <div class="leaflet-bottom leaflet-right mb-4 mr-1">
            <div class="leaflet-box leaflet-control" event-stop-propagation>
              Zoom Level:
              <span class="font-weight-bold">{{ zoom }}</span>
              <br />
              Center:
              <span class="font-weight-bold"
                >{{ center.lat | number: "1.1-5" }},
                {{ center.lng | number: "1.1-5" }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
