<div class="container-fluid px-4">
  <div class="row no-gutters">
    <div class="col-12">
      <hr class="mt-1 mb-3" />
    </div>
    <div class="col-2 mb-2">
      <crop-water-filter
        class="collapse"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        (onFilterChange)="applyFilter($event)"
      ></crop-water-filter>
    </div>
    <div class="col pl-3">
      <div id="map-wrapper" class="fill">
        <div
          class="map"
          leaflet
          [leafletOptions]="options"
          (leafletMapReady)="onMapReady($event)"
          (leafletMapZoomEnd)="onMapZoomEnd($event)"
          (leafletMapMove)="onMapMove($event)"
        >
          <!-- Period -->
          <div class="leaflet-top leaflet-right mb-4 mt-2 mr-1">
            <div class="leaflet-box">
              Period:
              <span class="font-weight-bold">{{ referenceDate }}</span>
              <br />
              <span>{{ filter.layer }}</span>
            </div>
          </div>

          <!-- Zoom Level -->
          <div class="leaflet-bottom leaflet-right mb-4 mr-1">
            <div class="leaflet-box">
              Zoom Level:
              <span class="font-weight-bold">{{ zoom }}</span>
              <br />
              Center:
              <span class="font-weight-bold"
                >{{ center.lat | number: "1.1-5" }},
                {{ center.lng | number: "1.1-5" }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
