<div class="modal-header">
  <h4 class="modal-title">Product: {{ productName }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  ></button>
</div>
<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  color="#6c757d"
  size="medium"
  [fullScreen]="false"
  name="extSpinner"
  ><p class="mt-4">Loading...</p></ngx-spinner
>
<p class="mb-0">
  <ngb-alert
    class="mb-0 fade animate-show animate-hide"
    [dismissible]="false"
    *ngIf="productInfo"
    [type]="remaining >= 0 ? 'success' : 'warning'"
  >
    <strong>Size Estimate</strong>:
    <span *ngIf="!isLoading(); else loadingSpinner">
      <ng-container *ngIf="estimatedSize; else notAvailable">{{
        estimatedSize | bytes: 2
      }}</ng-container>
    </span>
    <ng-template #loadingSpinner>
      <span
        ><i
          class="fa fa-spinner fa-spin"
          aria-hidden="true"
          style="font-size: 12px"
        ></i
      ></span>
    </ng-template>
    <span
      class="float-end"
      placement="bottom-right"
      ngbTooltip="Remaining size after extraction"
      container="body"
      *ngIf="!isLoading() && estimatedSize"
      ><i *ngIf="remaining < 0">-</i>{{ remaining | abs | bytes: 2 }}</span
    >
  </ngb-alert>
</p>
<div class="modal-body p-0 mb-4 pt-2">
  <div class="container mt-2" style="min-height: 70vh">
    <div class="row" *ngIf="productInfo">
      <div class="col">
        <form id="ngForm" [formGroup]="filterForm" (ngSubmit)="submit()">
          <ng-container *ngFor="let widgetName of productInfo.widgets_order">
            <ng-template
              let-widget
              [ngTemplateOutletContext]="{ $implicit: getWidget(widgetName) }"
              [ngTemplateOutlet]="t"
              #t
            >
              <!--                {{widget | json}}-->
              <h6 class="text-muted fw-bold">
                <i
                  class="fas fa-{{ widget.icon }} me-2"
                  *ngIf="widget.icon"
                ></i>
                {{ widget.label.replace("_", " ") | titlecase }}
              </h6>
              <div class="hl-preview mb-4">
                <div class="hl-preview-content">
                  <div class="row" *ngIf="widget.type == 'StringList'">
                    <div
                      class="form-check col-sm-12 col-md-6"
                      *ngFor="
                        let v of sortBy(widget.details['values'], 'label')
                      "
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        type="checkbox"
                        class="form-check-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="form-check-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                  <div class="row" *ngIf="widget.type == 'ExclusiveFrame'">
                    <ng-container [ngSwitch]="widget.name">
                      <app-spatial-coverage
                        *ngSwitchCase="'spatial_coverage'"
                        class="w-100"
                        [area]="initialArea"
                        (areaChanged)="setSpatialCoverage($event)"
                        (locationChanged)="setLocationCoverage($event)"
                      >
                      </app-spatial-coverage>
                      <app-temporal-coverage
                        *ngSwitchCase="'temporal_coverage'"
                        [widgets]="productInfo.widgets"
                        (dateChanged)="
                          onListChange($event.event, $event.filter)
                        "
                      >
                      </app-temporal-coverage>
                      <app-exclusive-frame
                        *ngSwitchDefault
                        [comp]="widget"
                        [widgets]="productInfo.widgets"
                        (dataChanged)="
                          onListChange($event.event, $event.filter, $event.type)
                        "
                      >
                      </app-exclusive-frame>
                    </ng-container>
                  </div>
                  <div class="row" *ngIf="widget.type == 'FileFormat'">
                    <div
                      class="form-check col-sm-12 col-md-6"
                      *ngFor="let v of widget.details['values']"
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        [formControlName]="widget.name"
                        type="radio"
                        class="form-check-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="form-check-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <!-- <pre>{{filterForm.value | json}}</pre> -->
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="productInfo">
  <button
    type="submit"
    class="btn btn-primary btn-lg"
    form="ngForm"
    [disabled]="!estimatedSize || remaining < 0"
  >
    Job Submit »
  </button>
</div>
<ng-template #notAvailable>
  <i *ngIf="!isLoading()">n/a</i>
</ng-template>
