<div class="modal-header">
  <h4 class="modal-title">Product: {{ productName }}</h4>
  <button
    type="button"
    class="btn close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ngx-spinner
  bdColor="rgba(255,255,255,0.8)"
  color="#6c757d"
  zIndex="1000"
  type="ball-clip-rotate-multiple"
  size="medium"
  [fullScreen]="false"
  name="extSpinner"
  ><p class="mt-4">Loading...</p></ngx-spinner
>
<p class="mb-0">
  <ngb-alert class="mb-0" [dismissible]="false" *ngIf="productInfo">
    <strong>Size Estimate</strong>:
    {{ (estimatedSize$ | async | bytes: 2) || "n/a" }}
  </ngb-alert>
</p>
<div class="modal-body p-0 mb-4 pt-2">
  <div class="container mt-2" style="min-height: 70vh">
    <div class="row" *ngIf="productInfo">
      <div class="col">
        <form id="ngForm" [formGroup]="filterForm" (ngSubmit)="submit()">
          <ng-container *ngFor="let widgetName of productInfo.widgets_order">
            <ng-template
              let-widget
              [ngTemplateOutletContext]="{ $implicit: getWidget(widgetName) }"
              [ngTemplateOutlet]="t"
              #t
            >
              <!--                {{widget | json}}-->
              <h6 class="text-muted font-weight-bold">
                <i
                  class="fas fa-{{ widget.icon }} mr-2"
                  *ngIf="widget.icon"
                ></i>
                {{ widget.label }}
              </h6>
              <div class="hl-preview mb-4">
                <div class="hl-preview-content">
                  <div class="row" *ngIf="widget.type == 'StringList'">
                    <div
                      class="custom-control custom-checkbox col-sm-12 col-md-6"
                      *ngFor="let v of widget.details['values']"
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        type="checkbox"
                        class="custom-control-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="custom-control-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                  <div class="row" *ngIf="widget.type == 'ExclusiveFrame'">
                    <!--<ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical">
                      <ng-container *ngFor="let w of widget.details['widgets']">
                        <li [ngbNavItem]="w">
                          <a ngbNavLink>{{w}}</a>
                          <ng-template>
                            <p>a</p>
                          </ng-template>
                        </li>
                      </ng-container>
                    </ul>-->
                    <ng-container
                      *ngIf="widget.details['widgets'].includes('date_list')"
                    >
                      <ng-template
                        let-innerWidget
                        [ngTemplateOutletContext]="{
                          $implicit: getWidget('date_list')
                        }"
                        [ngTemplateOutlet]="inner"
                        #inner
                      >
                        <div
                          *ngFor="
                            let dateType of innerWidget.details['widgets']
                          "
                          class="col-12"
                        >
                          <div class="row mb-3">
                            <div class="col-12 px-0">
                              <h6 class="text-muted font-weight-bold">
                                {{ dateType }}
                              </h6>
                            </div>
                            <div
                              class="
                                custom-control custom-checkbox
                                col-sm-6 col-md-3
                              "
                              *ngFor="
                                let v of getWidget(dateType).details['values']
                              "
                            >
                              <input
                                [id]="dateType + '_' + v.value"
                                [value]="v.value"
                                type="checkbox"
                                class="custom-control-input"
                                (change)="
                                  onListChange($event, 'time_' + dateType)
                                "
                              />
                              <label
                                [for]="dateType + '_' + v.value"
                                class="custom-control-label"
                                >{{ v.label }}</label
                              >
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                  </div>
                  <div class="row" *ngIf="widget.type == 'FileFormat'">
                    <div
                      class="custom-control custom-radio col-sm-12 col-md-6"
                      *ngFor="let v of widget.details['values']"
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        [formControlName]="widget.name"
                        type="radio"
                        class="custom-control-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="custom-control-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" *ngIf="productInfo">
  <button type="submit" class="btn btn-primary btn-lg" form="ngForm">
    Job Submit »
  </button>
</div>
