<div class="modal-header">
  <h4 class="modal-title">Product: {{ productName }}</h4>
  <button
    type="button"
    class="btn close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-0 mb-4">
  <div class="container mt-4">
    <div class="row" *ngIf="productInfo">
      <div class="col">
        <form [formGroup]="filterForm" (ngSubmit)="submit()">
          <ng-container *ngFor="let widgetName of productInfo.widgets_order">
            <ng-template
              let-widget
              [ngTemplateOutletContext]="{ $implicit: getWidget(widgetName) }"
              [ngTemplateOutlet]="t"
              #t
            >
              <!--                {{widget | json}}-->
              <h6 class="text-muted font-weight-bold">
                <i
                  class="fas fa-{{ widget.icon }} mr-2"
                  *ngIf="widget.icon"
                ></i>
                {{ widget.label }}
              </h6>
              <div class="hl-preview mb-4">
                <div class="hl-preview-content">
                  <div class="row" *ngIf="widget.type == 'StringList'">
                    <div
                      class="custom-control custom-checkbox col-sm-12 col-md-6"
                      *ngFor="let v of widget.details['values']"
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        type="checkbox"
                        class="custom-control-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="custom-control-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                  <div class="row" *ngIf="widget.type == 'FileFormat'">
                    <div
                      class="custom-control custom-radio col-sm-12 col-md-6"
                      *ngFor="let v of widget.details['values']"
                    >
                      <input
                        [id]="v.value"
                        [value]="v.value"
                        [formControlName]="widget.name"
                        type="radio"
                        class="custom-control-input"
                        (change)="onListChange($event, widget.name)"
                      />
                      <label [for]="v.value" class="custom-control-label">{{
                        v.label
                      }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
          <button class="btn btn-primary btn-lg">Job Submit »</button>
        </form>
      </div>
    </div>
  </div>
</div>
