.page-with-sidebar {
  padding-left: 20px;
  width:100% !important;

}

.sidenav {
  width: 120px;
  z-index: 1;
  left: 10px;
  padding: 8px 0;
  align-self: flex-start
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
