<div class="container-fluid pt-0 d-flex">
  <div class="sidenav sticky-top">
    <ul
      ngbNav
      #nav="ngbNav"
      class="nav-pills"
      orientation="vertical"
      (navChange)="onTabChange($event)"
    >
      <li ngbNavItem="requests">
        <a ngbNavLink style="cursor: default">Requests</a>
        <ng-template ngbNavContent>
          <app-requests #rTab (onLoad)="storage.load()"></app-requests>
        </ng-template>
      </li>
    </ul>
    <hr style="border-top-color: #bbb" />
    <app-storage-usage #storage></app-storage-usage>
  </div>

  <div class="row justify-content-md-center page-with-sidebar">
    <div class="col-12">
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>
