.page-with-sidebar {
  padding-left: 140px;
}

.sidenav {
  width: 120px;
  position: fixed;
  z-index: 1;
  left: 10px;
  overflow-x: hidden;
  padding: 8px 0;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
