<ngx-spinner [fullScreen]="false" type="ball-scale-multiple"></ngx-spinner>
<!-- no data -->
<div class="row" *ngIf="!loading && !data?.length">
  <div class="col">
    <div class="no-results">
      <h2>No Data</h2>
      <p>You have not submitted any requests yet</p>
    </div>
  </div>
</div>
<!-- load requests in the table -->
<div class="table-responsive mb-2" *ngIf="data?.length" #tableWrapper>
  <ngx-datatable
    #myRequestsTable
    class="bootstrap expandable"
    [rows]="data"
    [columns]="columns"
    [columnMode]="ColumnMode.flex"
    [headerHeight]="40"
    [footerHeight]="40"
    [externalPaging]="true"
    [count]="paging.dataLength"
    [limit]="paging.itemsPerPage"
    [offset]="paging.page"
    (page)="serverSidePagination($event)"
    [rowHeight]="'auto'"
  >
    <ngx-datatable-row-detail [rowHeight]="'100%'">
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-row-detail-template
      >
        <div>
          <div class="mr-2">
            <strong>Request Details</strong>
            <div
              class="btn-group btn-group-sm float-right"
              role="group"
              *ngIf="row.args | json as prettierJSON"
            >
              <button
                type="button"
                class="btn btn-secondary"
                ngxClipboard
                [cbContent]="prettierJSON"
                (cbOnSuccess)="copiedToClipboard($event)"
                placement="bottom"
                ngbTooltip="Copy to Clipboard"
              >
                <i class="fas fa-paste"></i>
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                (click)="downloadJSON(prettierJSON)"
                placement="bottom-right"
                container="body"
                [ngbTooltip]="tipDownloadContent"
              >
                <i class="fas fa-file-download"></i>
              </button>
            </div>
            <div>Task ID: {{ row.task_id }}</div>
            <ng-container *ngIf="row.args">
              <div class="row mt-2">
                <div class="col-sm">
                  <dl class="mb-0">
                    <dt>Dataset</dt>
                    <dd>
                      <ul>
                        <li>{{ row.dataset_name }}</li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="mb-0" *ngIf="row.args.variable">
                    <dt>Variable</dt>
                    <dd
                      *ngIf="(row.args.variable || []).length; else noFilters"
                    >
                      <ul>
                        <li *ngFor="let v of row.args.variable">{{ v }}</li>
                      </ul>
                    </dd>
                    <ng-template #noFilters>No Variable selected</ng-template>
                  </dl>
                  <dl class="mb-0" *ngIf="row.args.time">
                    <dt>Time</dt>
                    <dd>
                      <ul>
                        <li *ngFor="let item of row.args.time | keyvalue">
                          <b>{{ item.key }}</b
                          >: {{ item.value }}
                        </li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="mb-0" *ngIf="row.args.format">
                    <dt>Format</dt>
                    <dd>
                      <ul>
                        <li>{{ row.args.format }}</li>
                      </ul>
                    </dd>
                  </dl>
                  <!-- spatial coverage -->
                  <dl class="mb-0" *ngIf="row.args.area">
                    <dt>Area</dt>
                    <dd>
                      <ul>
                        <li>
                          <strong>N</strong>:
                          {{ row.args.area.north | number: "1.3-3" }},
                          <strong>E</strong>:
                          {{ row.args.area.east | number: "1.3-3" }},
                          <strong>S</strong>:
                          {{ row.args.area.south | number: "1.3-3" }},
                          <strong>W</strong>:
                          {{ row.args.area.west | number: "1.3-3" }}
                          <a
                            href="http://openstreetmap.org/?minlon={{
                              row.args.area.west
                            }}&minlat={{ row.args.area.south }}&maxlon={{
                              row.args.area.east
                            }}&maxlat={{ row.args.area.north }}"
                            target="_blank"
                          >
                            <i class="fas fa-external-link-alt"></i>
                          </a>
                        </li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="mb-0" *ngIf="row.args.latitude">
                    <dt>Latitude</dt>
                    <dd>
                      <ul>
                        <li>
                          [{{ row.args.latitude.start }},
                          {{ row.args.latitude.stop }}]
                        </li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="mb-0" *ngIf="row.args.longitude">
                    <dt>Longitude</dt>
                    <dd>
                      <ul>
                        <li>
                          [{{ row.args.longitude.start }},
                          {{ row.args.longitude.stop }}]
                        </li>
                      </ul>
                    </dd>
                  </dl>
                </div>
                <div class="col-sm">
                  <ng-container *ngFor="let extra of row.args | keyvalue">
                    <!-- {{extra | json}} -->
                    <dl
                      class="mb-0"
                      *ngIf="!declaredFields.includes(extra.key)"
                    >
                      <dt>{{ extra.key | titlecase | replace: "_":" " }}</dt>
                      <dd>
                        <ul>
                          <li>{{ extra.value }}</li>
                        </ul>
                      </dd>
                    </dl>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <!-- show details -->
    <ngx-datatable-column
      [width]="30"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-column="column" ngx-datatable-header-template>
        <span
          ><i
            class="fa fa-sync clickable"
            aria-hidden="true"
            (click)="list()"
          ></i
        ></span>
      </ng-template>
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-cell-template
      >
        <button
          class="btn p-0"
          *ngIf="!expanded"
          title="Show/Hide Details"
          (click)="toggleExpandRow(row)"
        >
          <i class="fa fa-angle-right"></i>
        </button>
        <button
          class="btn p-0"
          *ngIf="expanded"
          title="Show/Hide Details"
          (click)="toggleExpandRow(row)"
        >
          <i class="fa fa-angle-down"></i>
        </button>
      </ng-template>
    </ngx-datatable-column>
    <!-- Product -->
    <ngx-datatable-column
      name="Product"
      prop="args.product_type"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [flexGrow]="2"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <!-- Submission date -->
    <ngx-datatable-column
      name="Submission date"
      prop="submission_date"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [flexGrow]="1.6"
      [minWidth]="160"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span>{{ value | amFromUtc | date: "yyyy-MM-dd HH:mm:ss" }}</span>
      </ng-template>
    </ngx-datatable-column>
    <!-- End date -->
    <ngx-datatable-column
      name="End date"
      prop="end_date"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [flexGrow]="1.6"
      [minWidth]="160"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="value; else noValue">{{
          value | amFromUtc | date: "yyyy-MM-dd HH:mm:ss"
        }}</span>
      </ng-template>
    </ngx-datatable-column>
    <!-- Size -->
    <ngx-datatable-column
      name="Size"
      prop="output_file.size"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [flexGrow]="0.5"
      [minWidth]="66"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span *ngIf="value; else noValue">{{ value | bytes }}</span>
      </ng-template>
    </ngx-datatable-column>
    <!-- Status -->
    <ngx-datatable-column
      name="Status"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [flexGrow]="0.5"
      [minWidth]="66"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <span
          class="badge badge-secondary"
          [ngClass]="{
            'badge-success': row.status == 'SUCCESS',
            'badge-danger': row.status == 'FAILURE',
            'badge-info': row.status == 'PENDING'
          }"
          [ngbTooltip]="row.status == 'FAILURE' ? tipContent : ''"
          placement="left"
        >
          {{ value }}
        </span>
        <ng-template #tipContent>
          {{ row.error_message || "no error message" }}
        </ng-template>
      </ng-template>
    </ngx-datatable-column>
    <!-- Controls -->
    <ngx-datatable-column
      width="60"
      headerClass="px-0"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <div class="btn-toolbar justify-content-end" role="toolbar">
          <div class="btn-group mr-1" role="group">
            <button
              class="btn p-0 mr-1"
              *ngIf="row.status == 'SUCCESS' && row.output_file"
              (click)="downloadByUrl(row.output_file)"
            >
              <i class="fa fa-download"></i>
            </button>
            <button class="btn p-0" (click)="delete(row.id)">
              <i class="fa fa-trash red"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <ng-template #noValue>-</ng-template>
  <ng-template #tipDownloadContent>Download<br />JSON</ng-template>
</div>
