<div id="parameters">
  <div class="card bg-light">
    <div class="card-body">
      <form [formGroup]="filterForm">
        <!-- INDICATOR -->
        <div class="mb-3">
          <label class="col-form-label"><strong>Indicator:</strong></label>
          <select
            id="indicatorGroup"
            formControlName="indicator"
            class="form-select"
          >
            <option *ngFor="let i of indicators" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>
        <!-- PERIOD -->
        <div class="mb-3">
          <label class="col-form-label"><strong>Period:</strong></label>
          <select id="periodGroup" formControlName="period" class="form-select">
            <option *ngFor="let i of periods" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>
        <!-- ADMINISTRATIVE -->
        <div class="mb-3">
          <label class="col-form-label"
            ><strong>Territorial Units:</strong></label
          >
          <select
            id="administrativeGroup"
            formControlName="administrative"
            class="form-select"
          >
            <option *ngFor="let i of administratives" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>
        <!-- PHYSICAL -->
        <!--<div class="mb-3">
          <label class="col-form-label"><strong>Physical:</strong></label>
          <select
            id="physicalGroup"
            formControlName="physical"
            class="form-select"
            disabled
          >
            <option *ngFor="let i of physicals" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>-->
        <!-- USER SELECTED -->
        <!--<div class="mb-3">
          <label class="col-form-label"><strong>User Selected:</strong></label>
          <select
            id="userSelectedGroup"
            formControlName="userSelected"
            class="form-select"
            disabled
          >
            <option *ngFor="let i of userSelectedItems" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>-->
      </form>
    </div>
  </div>
</div>
