<ng-container *ngIf="dataset">
  <div class="page-header">
    <div class="container-fluid px-4 pt-0">
      <div class="page-header-content">
        <div class="row gx-4 align-items-center justify-content-between">
          <div class="col-auto">
            <h2>{{ dataset.label }}</h2>
            <ol *ngIf="dataset.use_case" class="breadcrumb mb-0 px-1 py-2 rounded">
              <li class="breadcrumb-item">
                <a routerLink="/app/applications" routerLinkActive="active"
                  >{{ dataset.use_case}}</a
                >
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container [ngSwitch]="dataset.id">
    <app-soil-erosion *ngSwitchCase="'soil-erosion'" [dataset]="dataset">
    </app-soil-erosion>
    <app-crop-water *ngSwitchCase="'crop-water'" [dataset]="dataset">
    </app-crop-water>
    <app-human-wellbeing *ngSwitchCase="'human-wellbeing'" [dataset]="dataset">
    </app-human-wellbeing>
    <app-era5-downscaled-over-italy
      *ngSwitchCase="'era5-downscaled-over-italy'"
      [dataset]="dataset"
    >
    </app-era5-downscaled-over-italy>
    <app-suitability-forests
      *ngSwitchCase="'land-suitability-for-forests'"
      [dataset]="dataset"
    >
    </app-suitability-forests>
    <app-suitability-vegetation
      *ngSwitchCase="'changes-land-suitability-vegetation'"
      [dataset]="dataset"
    >
    </app-suitability-vegetation>
  </ng-container>
</ng-container>
