<div class="page-header">
  <div class="container-fluid px-4 pt-0">
    <div class="page-header-content">
      <div class="row text-justify justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h2>Contacts</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-justify justify-content-md-center">
    <div class="col-12 col-md-10 col-lg-8">
      <p>
        If you want to request an account or you have technical issue, please
        reach us to
        <a href="mailto:highlander@cineca.it">highlander@cineca.it</a>
      </p>

      <br /><br />
    </div>
  </div>
</div>
