<div class="page-header">
  <div class="container-fluid px-4 pt-0">
    <div class="page-header-content">
      <div class="row text-justify justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8">
          <h2>Contacts</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row text-justify justify-content-md-center">
    <div class="col-12 col-md-10 col-lg-8">
      <p>Do you want to request an account to access the data?</p>
      <p>Do you have questions about the Highlander project?</p>
      <p>Do you need support on how to use the platform?</p>

      <p>
        Please reach us at
        <a href="mailto:highlander@cineca.it">highlander@cineca.it</a>
      </p>

      <br /><br />
    </div>
  </div>
</div>
