<div id="parameters">
  <div class="card bg-light">
    <div class="card-body">
      <form [formGroup]="filterForm">
        <!-- AREA -->
        <div class="form-group">
          <label class="col-form-label"><strong>Area:</strong></label>
          <select id="areaGroup" formControlName="area" class="form-control">
            <option *ngFor="let i of areas" [value]="i.code">
              {{ i.label }}
            </option>
          </select>
        </div>
        <!-- LAYER -->
        <div class="form-group">
          <label class="col-form-label"><strong>Layer:</strong></label>
          <select id="layerGroup" formControlName="layer" class="form-control">
            <option *ngFor="let l of layers" [value]="l.code">
              {{ l.label | firstWord }}
            </option>
          </select>
        </div>
        <!-- PERCENTILE -->
        <div class="form-group">
          <label class="col-form-label"><strong>Percentile:</strong></label>
          <select
            id="percentileGroup"
            formControlName="percentile"
            class="form-control"
            [attr.disabled]="
              this.filterForm.controls.layer.value == 'crop' || null
            "
          >
            <option *ngFor="let p of percentiles" [ngValue]="p">
              {{ p }}
            </option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
