.search-result {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;

  &:first-child {
    border-top: 1px solid #ddd;
  }

  .search-result-details {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10; /* number of lines to show */
    line-clamp: 10;
    -webkit-box-orient: vertical;

    
  }
}

.gx-0 {
  display: flex;
  align-items: center;
  justify-content: space-between;

    > h2 {
      width: auto;
    }
}
.search-filter {
  margin: 10px auto;
}

.page-link.active,
.active > .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #1a7dc1 !important;
  border-color: #1a7dc1 !important;
}
.fa-gray {
  color: #bbb;
}
.fa-blue,
.page-link {
  color: #1a7dc1;
}
.applications {
  max-width: 1500px;
}

