.dataset-card {
  
  img {
    width: auto;
    height: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 1rem;
    min-height: 40px;
    text-transform: uppercase;
  }
  .description {
    max-height: 150px;
    overflow: auto;
      p {
        text-align: justify;
        font-size: 14px;
        margin-right: 10px;
      }
  }
  a, a .fa-up-right-from-square {
    color: #1a7dc1;
    font-size: 1rem;
  }

  .btn, .btn-group {
    border-color:  var(--bs-border-color-translucent);
    color: #1a7dc1 ;
    transition: 0.3s ease-in-out;
    text-align: center !important;
    text-transform: none !important;
  
  }

  .btn:hover {
    color: #fff;
    background-color: #1a7dc1;
    border-color:#1a7dc1;
  }
}

@media screen and (max-width:905px) {
  .dataset-card{
    width: 26rem !important;
  }
}