.dataset-card {
  img {
    width: auto;
    height: 130px;
    object-fit: cover;
  }

  .card-body {
    padding: 5px;
  }

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .description {
    max-height: 120px;
    overflow: auto;
    margin-top: 8px;
    scrollbar-width: thin;
    scrollbar-color: #1a7dc1 rgba(56, 56, 56, 0.473);

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background-color: rgba(56, 56, 56, 0.473);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(56, 56, 56, 0.507);
      border-radius: 20px;
    }
    p {
      text-align: justify;
      font-size: 14px;
      margin-right: 10px;
    }
  }
  .infographics {
    font-size: 15px;
  }
  a,
  a .fa-up-right-from-square {
    color: #1a7dc1;
    font-size: 1rem;
  }
  .btn-group {
    margin-top: -25px;
  }
  .btn,
  .btn-group {
    border-color: var(--bs-border-color-translucent);
    color: #1a7dc1;
    transition: 0.3s ease-in-out;
    text-align: center !important;
    text-transform: none !important;
  }

  .btn:hover {
    color: #fff;
    background-color: #1a7dc1;
    border-color: #1a7dc1;
  }

  .card-img-overlay {
    width: auto;
    height: 130px;
    padding: 0 2px 10px 2px;

    &:hover .breadcrumb {
      width: 28px;
      visibility: visible;
    }

    .breadcrumb {
      width: 0;
      margin-right: -2px;
      position: relative;
      transition: all 0.5s ease-in-out;
      visibility: hidden;

      a {
        margin: auto;
      }
    }
  }
  .breadcrumb {
    font-size: 13px;
    color: #1a7dc1;
    background-color: #e9ecef;

    .breadcrumb-item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 905px) {
  .dataset-card {
    width: 15rem !important;
  }
  .dataset-card a,
  .dataset-card a .fa-up-right-from-square {
    color: #1a7dc1;
    font-size: 14px;
  }
}

@media (max-width: 755px) {
  .dataset-card {
    width: 22rem !important;
    img {
      height: 180px;
    }

    .card-img-overlay {
      height: 180px;
    }
  }
}
