.dataset-card {
  img {
    width: 200px;
    height: 200px;
  }

  h3 {
    font-size: 1rem;
    min-height: 40px;
  }

  p {
    text-align: justify;
    font-size: 14px;
  }

  a .fa-up-right-from-square {
    color: #1a7dc1;
    margin-left: 5px;
    font-size: 1rem;
  }

  .truncate {
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    hyphens: auto;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    word-break: var(--word-break, "none");
  }

  button {
    background-color: #1a7dc1;
  }
}
