<ng-container *ngIf="data_list">
  <div class="col-12">
    <div class="row">
      <div
        class="form-check col-sm-6 col-md-3"
        *ngFor="let v of data_list.details['values']"
      >
        <input
          [id]="comp.name + '_' + v.value"
          [value]="v.value"
          type="checkbox"
          class="form-check-input"
          (change)="onListChange($event, comp.name, data_list.type)"
        />
        <label [for]="comp.name + '_' + v.value" class="form-check-label">{{
          v.label
        }}</label>
      </div>
    </div>
  </div>
</ng-container>
