<div class="container px-0">
  <div class="row">
    <div class="col-sm-12">
      <app-map-side-nav
        *ngIf="area"
        [initialArea]="area"
        [editable]="editable"
        [selectedArea]="editableArea"
        [selectedLocation]="editableLocation"
        (onAreaChange)="updateArea($event.area, $event.propagate)"
        (onLocationChange)="updateLocation($event)"
      ></app-map-side-nav>
      <div
        style="height: 400px; margin-left: 220px"
        leaflet
        [leafletOptions]="options"
        (leafletMapReady)="onMapReady($event)"
      >
        <div
          leafletDraw
          [leafletDrawOptions]="drawOptions"
          (leafletDrawEdited)="onDrawEdited($event)"
          (leafletDrawEditResize)="resizeDraw($event)"
          (leafletDrawEditMove)="moveDraw($event)"
          (leafletDrawEditStart)="editable = true"
          (leafletDrawEditStop)="onDrawEditStop($event)"
        ></div>
        <div [leafletLayer]="drawnItems"></div>
      </div>
    </div>
  </div>
</div>
