<div class="container px-0">
  <div class="row">
    <div class="col-sm-12">
      <app-map-side-nav
        *ngIf="area"
        [initialArea]="area"
        [editable]="editable"
        [selectedArea]="selectedArea"
        (onAreaChange)="updateArea($event.area, $event.propagate)"
      ></app-map-side-nav>
      <div
        style="height: 400px; margin-left: 220px"
        leaflet
        leafletDraw
        [leafletOptions]="options"
        [leafletDrawOptions]="drawAreaOptions"
        (leafletMapReady)="onMapReady($event)"
        (leafletDrawEdited)="onDrawEdited($event)"
        (leafletDrawEditResize)="resizeDraw($event)"
        (leafletDrawEditMove)="moveDraw($event)"
        (leafletDrawEditStart)="editable = true"
        (leafletDrawEditStop)="onDrawEditStop($event)"
      >
        <div [leafletLayer]="drawnItems"></div>
      </div>
    </div>
  </div>
</div>
