<div class="container-fluid px-4">
  <div class="row no-gutters">
    <div class="col-12">
      <hr class="mt-1 mb-3" />
    </div>
    <div class="col-2 mb-2">
      <human-wellbeing-filter
        class="collapse"
        id="filters"
        [ngbCollapse]="isFilterCollapsed"
        (onFilterChange)="applyFilter($event)"
      ></human-wellbeing-filter>
    </div>
    <div class="col px-3">
      <div id="map-wrapper" class="fill">
        <ngx-spinner
          bdColor="rgba(255,255,255,0.8)"
          color="#6c757d"
          zIndex="1000"
          [fullScreen]="false"
          type="ball-clip-rotate-multiple"
          size="medium"
        >
        </ngx-spinner>
        <!--<div class="no-results" *ngIf="!loading">
          <h2>No Maps Available</h2>
          <p>Try to apply a different set of filters</p>
        </div>-->
        <div
          class="map"
          leaflet
          [leafletOptions]="options"
          [leafletLayersControl]="layersControl"
          [leafletLayersControlOptions]="layersControlOptions"
          (leafletMapReady)="onMapReady($event)"
          (leafletMapZoomEnd)="onMapZoomEnd($event)"
        ></div>
      </div>
    </div>
    <div class="col-auto">
      <div #collapse="ngbCollapse" [ngbCollapse]="isPanelCollapsed">
        <div class="card bg-light" style="min-width: 300px">
          <div class="px-2">
            <button
              type="button"
              class="btn btn-sm float-right"
              (click)="closeDetails()"
              [attr.aria-expanded]="!isPanelCollapsed"
            >
              <b style="font-size: x-large">&times;</b>
            </button>
          </div>
          <div class="card-body">
            <!-- TODO show selected administrative area -->
            <!-- TODO show box plot -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
