<div class="container-fluid details-container py-0">
  <div class="row-2 py-3"></div>
  <ngx-spinner
    bdColor="rgba(255,255,255,0.8)"
    color="#6c757d"
    zIndex="1000"
    [fullScreen]="false"
    type="ball-clip-rotate-multiple"
    size="medium"
  >
  </ngx-spinner>
  <div class="no-results" *ngIf="!loading">
    <h2>No Details Available</h2>
    <p>Try to apply a different set of filters</p>
  </div>
  <div class="details-text-container">
    <h3>
      Position: 45.25°N, 10.75°E
    </h3>
    <h3>
      R factor &nbsp;<br>
      RF 2 &nbsp;<br>
      Historical &nbsp;<br>

    </h3>
  </div>
  <div class="details-image-container">
    <div class="image-detail">
    <img *ngIf="mapImage" [src]="mapImage" />
  </div>
  <div class="image-detail">
    <img *ngIf="plotImage" [src]="plotImage" />
  </div>
  </div>
</div>
