<div class="container-fluid details-container py-0">
  <div class="row-2 py-3"></div>
  <ngx-spinner
    bdColor="rgba(255,255,255,0.8)"
    color="#6c757d"
    zIndex="1000"
    [fullScreen]="false"
    type="ball-clip-rotate-multiple"
    size="medium"
  >
  </ngx-spinner>
  <div class="no-results" *ngIf="!loading">
    <h2>No Details Available</h2>
    <p>Try to apply a different set of filters</p>
  </div>
  <img *ngIf="mapImage" [src]="mapImage" />
  <img *ngIf="plotImage" [src]="plotImage" />
</div>
