<ng-container *ngIf="date_list">
  <div *ngFor="let dateType of date_list.details['widgets']" class="col-12">
    <div class="row mb-3">
      <div class="col-12 px-0">
        <h6 class="text-muted fw-bold">
          {{ dateType }}
        </h6>
      </div>
      <div
        class="form-check col-sm-6 col-md-3"
        *ngFor="let v of getWidget(dateType).details['values']"
      >
        <input
          [id]="dateType + '_' + v.value"
          [value]="v.value"
          type="checkbox"
          class="form-check-input"
          (change)="onListChange($event, 'time_' + dateType)"
        />
        <label [for]="dateType + '_' + v.value" class="form-check-label">{{
          v.label
        }}</label>
      </div>
    </div>
  </div>
</ng-container>
