<div class="container-fluid details-container py-0">
  <ngx-spinner
    bdColor="rgba(255,255,255,0.8)"
    color="#6c757d"
    zIndex="1000"
    [fullScreen]="false"
    size="medium"
  >
  </ngx-spinner>
  <div class="no-results-plain" *ngIf="!loading">
    <h2>No Stripes Available</h2>
    <p>Try to apply a different set of filters</p>
  </div>
  <div class="details-text-container" *ngIf="loading">
    <h3>
      Anomaly of {{ dateLabel | lowercase }}
      {{ indicatorLabel | lowercase }} temperature
    </h3>
  </div>
  <div class="details-image-container" *ngIf="loading">
    <div class="image-detail">
      <img alt="climate stripes" *ngIf="stripesImage" [src]="stripesImage" />
    </div>
  </div>
</div>
