<div class="search-result" *ngFor="let dataset of datasets">
  <p>{{ dataset.label }} ({{ dataset.category || "others" }})</p>
</div>

<!-- FOREST -->
<div class="category-box border-bottom border-top">
  <h2 class="category-title mt-3">Paneveggio park management</h2>
  <div class="d-flex p-2 justify-content-evenly flex-wrap">
    <div class="flex-child text-center my-3 mx-3">
      <img class="rounded-circle" src="./tree-talker.jpg" alt="picture" />
      <h3 class="mt-2">Tree Talker</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
    <div class="flex-child text-center my-3 mx-3">
      <img
        class="rounded-circle"
        src="./pasture-monitoring.png"
        alt="picture"
      />
      <h3 class="mt-2">Pasture Monitoring</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
    <div class="flex-child text-center my-3 mx-3">
      <img class="rounded-circle" src="./forest.jpg" alt="picture" />
      <h3 class="mt-2">Forest</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
    <div class="flex-child text-center my-3 mx-3">
      <img class="rounded-circle" src="./vaia-storm.jpg" alt="picture" />
      <h3 class="mt-2">VAIA Storm</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
  </div>
</div>

<!-- WATER -->
<div class="category-box border-bottom">
  <h2 class="category-title mt-3">Water</h2>
  <div class="d-flex p-2 justify-content-evenly flex-wrap">
    <div class="flex-child text-center my-3 mx-3">
      <img class="rounded-circle" src="./cmcc.jpg" alt="picture" />
      <h3 class="mt-2">Water cycle and sustainability of competing use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
    <div class="flex-child text-center">
      <img class="rounded-circle" src="./crop-water.jpg" alt="picture" />
      <h3 class="mt-2">Crop Water</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
  </div>
</div>

<!-- FOREST -->
<div class="category-box border-bottom">
  <h2 class="category-title mt-3">Forest fire</h2>
  <div class="d-flex p-2 justify-content-evenly flex-wrap">
    <div class="flex-child text-center my-3 mx-3">
      <img
        class="rounded-circle"
        src="./forest-fire-prediction.jpg"
        alt="picture"
      />
      <h3 class="mt-2">Forest fire prediction and control</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
    <div class="flex-child text-center my-3 mx-3">
      <img
        class="rounded-circle"
        src="./forest-fire-control.jpg"
        alt="picture"
      />
      <h3 class="mt-2">Forest fire potential</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis atque
        ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum saepe
        maiores facere. Nesciunt est neque at adipisci accusantium delectus.
      </p>
    </div>
  </div>
  <div class="category-box border-top">
    <h2 class="category-title mt-3">Other applications</h2>
    <div class="d-flex p-2 justify-content-evenly flex-wrap">
      <div class="flex-child text-center my-3 mx-3">
        <img
          class="rounded-circle"
          src="./land-suitability.jpg"
          alt="picture"
        />
        <h3 class="mt-2">Animal welfare and land suitability (for farming)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
      <div class="flex-child text-center my-3 mx-3">
        <img
          class="rounded-circle"
          src="./land-suitability-forest.jpg"
          alt="picture"
        />
        <h3 class="mt-2">Land suitability for vegetation (forest)</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
      <div class="flex-child text-center my-3 mx-3">
        <img
          class="rounded-circle"
          src="./animal-wellbeing.jpg"
          alt="picture"
        />
        <h3 class="mt-2">IoT for Animal wellbeing</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
      <div class="flex-child text-center my-3 mx-3">
        <img class="rounded-circle" src="./soil-erosion.jpg" alt="picture" />
        <h3 class="mt-2">Soil Erosion</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
      <div class="flex-child text-center my-3 mx-3">
        <img
          class="rounded-circle"
          src="./change-land-suitability.jpg"
          alt="picture"
        />
        <h3 class="mt-2">
          Changes in the land suitability for vegetation (forest, crop)
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
      <div class="flex-child text-center my-3 mx-3">
        <img class="rounded-circle" src="./human-weelbeing.jpg" alt="picture" />
        <h3 class="mt-2">Human wellbeing</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          atque ullam sunt, a voluptatum quas, dolorem iure qui obcaecati, cum
          saepe maiores facere. Nesciunt est neque at adipisci accusantium
          delectus.
        </p>
      </div>
    </div>
  </div>

  <!--
  <div class="search-result" *ngFor="let dataset of datasets">
    <div class="row">
      <div class="col">
        <div class="d-flex">
          <div class="text-justify mb-0">
            <img
                src="{{
                        backendURI + '/api/datasets/' + dataset.id + '/image'
                      }}"
                alt="no img"
                style="float: left; width: 280px"
                class="mr-3 mb-2 hld-preview-thumbnail"
                *ngIf="dataset.image"
            />
            <h3>
              <a
                  *ngIf="user; else notLogged"
                  href
                  [routerLink]="['../applications/' + dataset.id]"
                  [state]="dataset"
              >{{ dataset.label }}</a
              >
              <ng-template #notLogged>
                {{ dataset.label }}
              </ng-template>
            </h3>
            <ng-container *ngIf="dataset.description">
              <div class="description-container">
                <i class="fa fa-quote-left fa-gray mr-2"></i>
                <p
                    [innerHTML]="dataset.description"
                    class="text d-inline"
                ></p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>-->
</div>
