<hr class="m-0" />
<div class="row">
  <div class="col-2 sidebar-container">
    <div id="list " class="list-group" [class.collapsed]="isCollapsed">
      <a
        class="list-group-item list-group-item-action nav-link"
        *ngFor="
          let category of categories | keyvalue;
          let i = index;
          trackBy: trackByFunc
        "
        routerLink="."
        [fragment]="'list-item-' + i"
        >{{ category.key | titlecase | lastWord : "-" }}</a
      >
    </div>
    <label
      class="sidebar-toggle"
      (click)="isCollapsed = !isCollapsed"
      [class.collapsed]="isCollapsed"
    ></label>
  </div>
  <div class="col">
    <div
      class="category-box border-bottom d-flex p-2 justify-content-between flex-wrap"
      *ngFor="
        let category of categories | keyvalue;
        let i = index;
        trackBy: trackByFunc
      "
    >
      <h3
        data-bs-spy="scroll"
        data-bs-target="#list"
        data-bs-smooth-scroll="true"
        tabindex="0"
        class="category-title"
        [attr.id]="'list-item-' + i"
      >
        {{ category.key | titlecase | lastWord : "-" }}
      </h3>
      <div class="d-flex w-100 flex-wrap card-container">
        <hld-dataset-card
          *ngFor="let dataset of category.value"
          class="mb-3"
          [dataset]="dataset"
        ></hld-dataset-card>
      </div>
    </div>
  </div>
</div>
<!--
    <div
  class="category-box border-bottom d-flex p-2 justify-content-between flex-wrap"
  *ngFor="let category of categories | keyvalue"
>
  <h2 class="category-title mt-3 mb-3 w-100">{{ category.key | titlecase }}</h2>
  <div class="mb-3" *ngFor="let dataset of category.value">
    <hld-dataset-card [dataset]="dataset"></hld-dataset-card>
  </div>
</div>

    
    <div
  class="category-box border-bottom d-flex p-2 justify-content-between flex-wrap"
  *ngFor="let category of categories | keyvalue; let i=index; trackBy:trackByFunc"
>

<ngb-accordion activeIds="static-{{i}}" class="w-100">
    <ngb-panel class="mt-3 mb-3 w-100" id="static-{{i}}">
      <ng-template ngbPanelTitle>
        <h2 class="category-title" >{{ category.key | titlecase }}</h2>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="d-flex w-100 flex-wrap card-container">
        <hld-dataset-card *ngFor="let dataset of category.value" class="mb-3" [dataset]="dataset"></hld-dataset-card></div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>-->
