<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="d-inline">
            <i class="fa-solid fa-calendar-days"></i>
            System Schedules
          </h4>
          <span class="float-end"
            ><i
              class="fa fa-arrows-rotate clickable"
              aria-hidden="true"
              (click)="list()"
            ></i
          ></span>
        </div>
        <div class="card-body">
          <ngx-spinner [fullScreen]="true" size="medium"></ngx-spinner>
          <div class="d-flex justify-content-end">
            <button class="btn btn-secondary" (click)="create()">
              <i class="fa-regular fa-calendar-plus"></i> new
              {{ resource_name }}
            </button>
          </div>
          <!-- no data -->
          <div class="row" *ngIf="!loading && !data?.length">
            <div class="col">
              <div class="no-results">
                <h2>No Data</h2>
                <p>No {{ resource_name }} registered yet</p>
              </div>
            </div>
          </div>
          <!-- load schedules in the table -->
          <div class="table-responsive mb-2" *ngIf="data?.length" #tableWrapper>
            <ngx-datatable
              #schedulesTable
              class="bootstrap"
              [rows]="data"
              [columns]="columns"
              [columnMode]="ColumnMode.flex"
              [headerHeight]="40"
              [footerHeight]="40"
              [externalPaging]="true"
              [count]="paging.dataLength"
              [limit]="paging.itemsPerPage"
              [offset]="paging.page"
              (page)="serverSidePagination($event)"
              [rowHeight]="'auto'"
            >
              <!-- Column Templates -->
              <!-- Name -->
              <ngx-datatable-column prop="name" [flexGrow]="2">
              </ngx-datatable-column>
              <!-- Created date -->
              <ngx-datatable-column
                name="Created at"
                prop="created_at"
                [flexGrow]="1.6"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <span *ngIf="value; else noValue">{{
                    value | amFromUtc | date : "yyyy-MM-dd HH:mm:ss"
                  }}</span>
                </ng-template>
              </ngx-datatable-column>
              <!-- Task -->
              <ngx-datatable-column name="Task" prop="task_name" [flexGrow]="2">
              </ngx-datatable-column>
              <!-- Crontab -->
              <ngx-datatable-column
                prop="crontab"
                [sortable]="false"
                [flexGrow]="2"
              >
              </ngx-datatable-column>
              <!-- State -->
              <ngx-datatable-column
                name="State"
                prop="is_enabled"
                [sortable]="false"
                [flexGrow]="0.5"
                [minWidth]="56"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="form-check form-switch form-switch-sm">
                    <input
                      class="form-check-input clickable"
                      type="checkbox"
                      role="switch"
                      [checked]="value"
                      (click)="toggleStatus($event, row)"
                    />
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <!-- Controls -->
              <ngx-datatable-column
                width="60"
                headerClass="px-0"
                [resizeable]="false"
                [sortable]="false"
                [draggable]="false"
                [canAutoResize]="false"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="btn-toolbar justify-content-end" role="toolbar">
                    <div class="btn-group me-1" role="group">
                      <!-- add edit button -->
                      <button class="btn p-0" (click)="delete(row.id)">
                        <i class="fa fa-trash red"></i>
                      </button>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
            <ng-template #noValue>-</ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
